

.reviewCard {
    transform: scale(1.1);
    transition: .3s ease-in-out;
    opacity: 1;
    /* height: 330px; */
    border-radius: 20px;
  }
  
  .review {
    opacity: .5;
    transform: scale(0.7);
    /* margin-top: 14px; */
  }

